* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-container{
  margin: auto;
    width: 1100px;
    //border:3px solid #8AC007;
    padding: 40;
}

#chart-controls{
  float: left;
  width: 400px;
  margin: 10px;
  padding-top: 50px;
}

#pie {
 float: right;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
    padding: 3px 3px;
}

li h4 {
  //font-size: 100%;
  line-height: 2;
  display: inline;
}

button {
  margin-top: 10px;
}

td { 
 padding: 5px; 
}

td.edit { 
 padding: 10px; 
 border: thick white solid; 
}

body {
  font-family: sans-serif;
  padding: 40px;
 }

input.range {
    width: 250px;
 }

.range-slider {
    
  // Slider
 input.input-range {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
 
    
    // Slider Handle
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #353535;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out;
      
      &:hover {
        background: #e06161;
      }
   }
    
    &:active::-webkit-slider-thumb {
      background: #e06161;
    }
    
    &::-moz-range-thumb {
      width:20px;
      height: 20px;
      border: 0;
      border-radius: 50%;
      background: #353535;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out;
      
      &:hover {
        background: #e06161;
      }
    }
    
    &:active::-moz-range-thumb {
      background: #e06161;
    }
}
  
  // Tooltip Tag
  .range-value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #353535;
    padding: 5px 10px;
    margin-left: 7px;
    
    float: right;
    margin-right: 32px;
    margin-top: -20px;
 
    
    &:after {
      position: absolute;
      top: 8px;
      left: -6px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #353535;
      border-bottom: 7px solid transparent;
      content: '';
      }
  }
}

path.slice{
	opacity: .7;
}

.edit{
  opacity: .7;
  text-align: center;
  background-size: cover;
  color: white;
}

text.label {
 opacity:.5;
font-size: 1.5em ;
 // color: #222;
  //text-shadow: 0px 1px 1px #555;
 color: rgba(0,0,0,5);
text-shadow: 2px 1px 5px rgba(0,0,0,0.2),
             0px 1px 2px rgba(255,255,255,0.3);
}

polyline{
	opacity: .15;
	stroke: black;
	stroke-width: 1px;
	fill: none;
}

// Firefox Overrides
::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}

#pieImage {
  width:550px;
  height:550px;
  background: url(http://i42.tinypic.com/22zsyc.jpg);
  background-repeat: no-repeat;
background-size:contain;
  float:right;
  margin-top:60px;
  margin-right:25px;
 }



.HideOnLoad {
  opacity: 0;
}
